﻿@{
    ViewBag.Title = "Home Page";
}

@if (Session["UserId"] != null)
{
    <div class="jumbotron">
        <p><a href="/Photos/Index" class="btn btn-primary btn-lg">Go Back to Photos &raquo;</a></p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">Please Log in or Register to the top right side of your screen to continue.</p>
        <p><a href="/AccountManagement/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
    </div>
}