﻿@model StudentTestDimos.Models.RegistrationViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form id="RegistrationForm">

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @id = "UsernameField" })
        </div>

        <br />

        <div class="col-md-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "PasswordField" })
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary" onclick="LoginUser()"> Submit</a>
            </div>
        </div>
    </div>

</form>

<script>
    var LoginUser = function ()
    {
        var data = $("#RegistrationForm").serialize();

        $.ajax(
        {
            type: "POST",
            url: "/AccountManagement/LoginUser",
            data: data,
            success: function (response)
            {
                if(response == "Failed")
                {
                    alert("Login Failed!");
                    window.location.href = "/AccountManagement/Login";
                }
                else if (response == "Admin")
                {
                    window.location.href = "/Photos/Index";
                }
                else if (response == "NormalUser")
                {
                    window.location.href = "/Photos/Index";
                }
            }
        })
    }
</script>