﻿@model StudentTestDimos.Models.RegistrationViewModel

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<form id="RegistrationForm">

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @id = "UsernameField" })
        </div>

        <br />

        <div class="col-md-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @id = "PasswordField" })
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-12">
                <a href="#" class="btn btn-primary" onclick="RegisterUser()"> Submit</a>
            </div>
        </div>
    </div>

</form>

<script>
    var RegisterUser = function ()
    {
        var data = $("#RegistrationForm").serialize();

        $.ajax(
        {
            type: "POST",
            url: "/AccountManagement/RegisterUser",
            data: data,
            success: function (response)
            {
                alert(response);
                if (response == "User already exists!")
                {
                    window.location.href = "/AccountManagement/Registration";
                }
                else if (response == "Success!")
                {
                    window.location.href = "/AccountManagement/Login";
                }
            }
        })
    }
</script>

