﻿@model IEnumerable<StudentTestDimos.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<div class="wrapper">

    <div class="panel panel-body" style="min-height:512px">

        <div class="row">

            <!--Head of the model goes here-->
            <div class="col-md-4">
                <div id="ImgPreview" class="thumbnail">
                    <img class="img-responsive" src=@Url.Content(Model.First().ImagePathFace) id="TargetImgHead" alt="Upload image to see the face." />
                </div>
            </div>

            <!--Full image of the model goes here, as well as buttons to choose file, upload and move to next/previous images.-->
            <div class="col-md-8">

                <div class="col-md-2">
                    <a href="#" class="btn btn-default btn-xs" onclick="PreviousImage()"><</a>
                </div>

                <div class="col-md-8">
                    <!--Show upload button only when admin is logged in.-->
                    @if (Session["RoleId"] != null &&
                         Session["RoleId"].ToString() == "0")
                    {
                        <div class="btn btn-primary">
                            <input type="file" id="ImageBrowse">
                            <a href="#" class="btn btn-default" onclick="UploadImage()">Upload</a>
                        </div>
                    }

                    <div id="ImgPreview" class="thumbnail">
                        <img class="img-responsive" src=@Url.Content(Model.First().ImagePath) id="TargetImg" />
                    </div>
                </div>

                <div class="col-md-2">
                    <a href="#" class="btn btn-default btn-xs" onclick="NextImage()">></a>
                </div>

            </div>

        </div>

    </div>

    <div class="panel panel-body" style="min-height:256px">
        @foreach (var item in Model)
        {
            <div class="col-md-3 thumbnail slider" id="UploadedImage">
                <img src=@Url.Content(item.ImagePath) class="img-responsive slide">
            </div>
        }
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    var currentImgNumber = 0;

    var arrayOfImagePaths = [];
    var arrayOfImagePathsFaces = [];

    $(document).ready(function ()
    {
        GetImagePaths();

        $("#ImageBrowse").change(function ()
        {
            var file = this.files;

            if (file && file[0])
            {
                ReadImage(file[0]);
            }
        })
    })

    function GetImagePaths()
    {
        $.ajax(
        {
            type: "GET",
            url: "/Photos/GetImagePaths",
            processData: false,
            success: function (response)
            {
                if (response != null)
                {
                    for (var pathIndex = 0; pathIndex < response.length; pathIndex++)
                    {
                        var twoStrings = response[pathIndex].split('*');
                        arrayOfImagePaths[pathIndex] = twoStrings[0];
                        arrayOfImagePathsFaces[pathIndex] = twoStrings[1];
                    }
                }
            }
        })
    }

    var ReadImage = function (file)
    {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file)
        {
            image.src = _file.target.result;
            image.onload = function ()
            {
                $("#TargetImg").attr("src", _file.target.result);
                $("#TargetImgHead").attr("src", "");
            }
        }
    }

    var UploadImage = function ()
    {
        var file = $("#ImageBrowse").get(0).files;

        if (file.length == 0)
        {
            alert("No file selected!");
            return;
        }

        var data = new FormData;
        data.append("LocalImageFile", file[0]);

        $("#TargetImgHead").attr("alt", "Loading...");

        $.ajax(
        {
            type: "POST",
            url: "/Photos/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (response)
            {
                var dotIndex = response.lastIndexOf('.');
                var faceFileName = response.substring(0, dotIndex) + ".face" + response.substring(dotIndex);

                //Stick the full body image to the image grid.
                $("#UploadedImage").append('<img src="/Content/Photos/' + response + '" class = "img-responsive thumbnail"/>');

                //Add the full body image path to the array.
                arrayOfImagePaths[arrayOfImagePaths.length] = "~/Content/Photos/" + response;

                //Add the face image path to the array.
                arrayOfImagePathsFaces[arrayOfImagePathsFaces.length] = "~/Content/Photos/" + faceFileName;

                //Reset the alt back to normal (it was set to Loading...).
                $("#TargetImgHead").attr("alt", "Upload image to see the face.");
                //Remove the name of the uploaded image from the file input type.
                document.getElementById("ImageBrowse").value = "";

                //Add the face image, now that it's on the photos folder.
                $("#TargetImgHead").attr("src", "/Content/Photos/" + faceFileName);
            }
        })
    }

    var NextImage = function ()
    {
        if (++currentImgNumber >= arrayOfImagePaths.length - 1)
        {
            currentImgNumber = arrayOfImagePaths.length - 1;
        }

        var res = arrayOfImagePaths[currentImgNumber].substring(1); //Get rid of the ~ character.
        $("#TargetImg").attr("src", res);

        var resFace = arrayOfImagePathsFaces[currentImgNumber].substring(1);
        $("#TargetImgHead").attr("src", resFace);
    }

    var PreviousImage = function ()
    {
        if(--currentImgNumber <= 0)
        {
            currentImgNumber = 0;
        }

        var res = arrayOfImagePaths[currentImgNumber].substring(1);
        $("#TargetImg").attr("src", res);

        var resFace = arrayOfImagePathsFaces[currentImgNumber].substring(1);
        $("#TargetImgHead").attr("src", resFace);
    }
</script>